$blue: #4361ee;

.post {
  background-color: #fff;
  border: 1px solid #dedede;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  max-width: 500px;

  &:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0 1px $blue;

    .post__edit-buttons {
      opacity: 1;
    }
  }

  &-full {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1200px;
    &:hover {
      background-color: #fff;
      border: 1px solid #dedede;
      box-shadow: none;
    }
  }
}

.post__image {
  width: 100%;
  height: 300px;
  object-fit: cover;

  &-full {
    min-height: 300px;
    height: 100%;
    max-height: 400px;
  }
}

.post__wrapper {
  padding: 10px 20px 20px;
}

.post__content {
  margin: 30px 0 50px;

  p {
    font-size: 22px;
    line-height: 36px;
  }
}

.post__indention {
  padding-left: 40px;
}

.post__title {
  font-size: 28px;
  margin: 0;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: $blue;
    }
  }

  &-full {
    font-size: 42px;
    font-weight: 900;
  }
}

.post__details {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;

  li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
    opacity: 0.5;

    svg {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.post__edit-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  right: 10px;
  top: 10px;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.post__edit-buttons > * {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  padding: 2px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
