
.add-post__input {
  input {
    font-size: 42px;
    font-weight: 900;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.add-post__image {
  width: 100%;
}

.add-post__tags {
  margin: 15px 0;
}

.add-post__editor {
  margin: 30px -30px;
}

.add-post__buttons {
  display: flex;

  button {
    margin-right: 15px;
  }
}
